body {
    font-family: arial, tahoma, sans-serif;
    text-align: center;
}

nav.menu {
    border-radius: 6px;
    padding: 1px;
}

nav.menu ul {
    border: 1px solid #787878;
    border-radius: 5px;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    display: table;
}

nav.menu ul li{
    display: inline-block;
    background: #d7d7d7;
}

nav.menu ul li:first-child,
nav.menu ul li:first-child > * {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav.menu ul li:last-child,
nav.menu ul li:last-child > * {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav.menu a {
    text-decoration: none;
    color: #323232;
    background: #d7d7d7;
}

nav.menu ul li:hover,
nav.menu ul li:hover a{
    background: #f5f5f5;
}

nav.menu a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0px 25px;
    text-shadow: 1px 1px 1px #F0E5E5;
    display: block !important;
}

nav.menu a.current {
    text-decoration: underline !important;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.seemore {
    text-align:right;
}
/*
iframe::-webkit-scrollbar {
    width: 10px;
}

iframe::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

iframe::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/

.page {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #969696;
    border-radius: 5px;
    background-image:url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABcCAMAAAGaUaOnAAAAPFBMVEX19fX09PT29vb39/fz8/P4+Pjy8vLx8fH5+fnw8PD6+vr7+/vv7+/u7u78/Pzt7e3+/v79/f3r6+vs7Ox1wd7lAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACRFJREFUWMOlV9myJUWS0+ZLROa5BdP//6/zUDZtNUAB3bymRcYil+Ry8MgqOuixLeIijyV2LmI+6DTAqnVHF0C0hoTjRsMwyhUeVqEZB5eCmjpmL7rbaHOBlHvzCKfQCwipC4kCoiXeB+Nzaw2oPhL5wbRcfATrmWIfYLJCGchuoIvlCF2LJ6roLVwREAacD6ZVQQkH/cBaWXhYJjRFEI8kkoGjmkZMn6htrXMuEeIe23X1Ak8WC+w8OCiQdBt8woX58FgxCLfRTvMeODMD1zIW+vAJhwapwgdYoqiqQj+dlgtp+WUtBGraUPMpGQAnwXwekOH3SnBx+l/vXLALPT7ekt5JXRrEcw0Q5lup/eHmw5os5O3VBl/wwkKSCVTmqAQBQIuQWX0SoOCpZKkDVhmY5o/IQPKWf4SYwaQUGlUU5Lomez3L3MLvoNa1B0B1iWbDmlHfAGhTxKVu+t1FHCYghBcZyjIMZABZhTIANAqtTs1KGqB+/yHw9h3DVBHEtFHOZzDqSiAvxXWk1L0NQwdfWBTRfHM6C+MaeyRICAIAfS1Sl0qvTb3l6EhBnk4HPGGmQJ5b77s8QQNuwQVCKFSXPlxIttjFzmEUXH3xF7WKZxjmoA3KHbl8KujHcdFrLtNiwp7+mpVgCND4zx+M1cciT4coQSGrjzsDGXKDke+BIpkcyot5DHwgLmwYQYN1+xRkxsPpoV9We0lkBcG7U4/BAzwliCJJs4M5bz2URyGshQKMxre44g3c0Mr8pTg3AbA1fk5Y6ud4UNFJZr8RylCPU7xr0GQ/SyQf8/g9HdfO9UeyhYxcSQE/wldLn44Aym6h+RL4uHmRzx5SzS6rPFtwYMIgWEfAINBCrd/cDDXYqCV5XhBVu/mc3hQB38Hc6hq6e6bETHUQGhgfqgq3biD0+ArlSb1lgw3AKRAgI0zZao7OCnAI3AgcEVORu1iiPe4uRHVV9UUiWpyWa210kXqELVIbc1lZADpi03y+cdBsohpf+Thx/4IUNsKxKqfX56MvXqvlFB0vC75bU1yQhYBgGW3yyCI0YB/jUIjZSgsQrucr1rzygqkd4J63yNKW4A6B58m1BXx5K9MiHvkrBqYPiFzE2mowKN1hmT7bo/WeQyK9OGSjViQqXqbsjkpUXZjtrm8XfwZ4v0CBVDX1rIiWQZbfXzGCfOsGYNzkohUS8VRAtnHNFibocu15AEJ0Dkb1er6EL+GlCbOvJRBJ7HsOqHu3EjpqAP358/LiL57agfC9l6mHirjlLmdmn8+5YWCjeXmxtUSDrKiSBjcpBqjKGT+1E2I2HDWP2ju75sG6FNX9hmo34N9SG42hYnCbnqpRS7xXaLlLFz/79d9Fwre/XNJWUI8qR5qLBk5w+74RptFY9Y1x1bksCLguHkJxWdvog0w0Ks5SA9AnBoSufgGAmOuSCiuAbYiTibZ9N8FfQSroQ6lNeUb1B2eiZcI6q59gh44Lyq0Xm7AePAxFVkWF4e8s+Pcq/ZGSGfMCSBTUbnBM/BsZqgNwVajQJ2jHl0gAr5KfmmJFY+ZWUI49NDCEL6tcXsw5927yDYULMec3CCFAFVVYizhxjPwod1gKoVQ1GE5wE9f5geLpypmI++3mD9bjZz3DG3CD+Rt7+FSsgbvUltMJEMF2uAT+nTOi4GVg23sKjRu9IH7Sh40xU5rCgdAfYzXcXdj0seGsjekivs8UH+JUaTuewN56p2M3gpb1TaUtSghK7ZtMNASXQhdsflIguvs5nAG7lTiDfhUzn/LOpCID9vi727heq+cQApZc8diuTqz6wkgNGIadsBYkznw5K1sJzVh3xrpScYHTYgjp4WG/e6tRXyxjYgUuwPU2L1pVxU/uSOUbxxLy9bg31cmgqcOAMNMMDNyJRYQ10rA672DR5UWkA5wvQ1tIHTa2zfN+gjJQp0rsoEluXaqYFaYtMrisNwOUnMjjMyQsGJ7GV3WBl3G6FvyelK/CIAcAG2oABb7zcmngZkaUA7RRScRj5EpNYEV13VbxUD3C/o8mOSYjVyoUzoj89BBGBqurmlAZu82lt8FenYgPFzcxBlX5QhPctoO93zPOozsSNbXMLcojFJvFEvrO/uuFWs5dkJeDw1P3XC2CzDe4q6Xe/x5WOPecgfWktBqHJGa4irkDTT/0n0gJt55hNV5VNWAZwVigZpFfD19DPDw3i4vspfgl1i8ttvSgzE0pgIEjlN7a3tPoX+/3yVlQWsqbPF+15iRiqTfsJ/AJ/yE3/m+vgoQs+HSv5zb/rg0A0H5sgQJOZY3QBcRVC5GggKrAtc2K6mN6G5FUFpROPnYRR857T/UbeCub4S0/H+gRHVMCwymVU0oFNYA6tZ3vY22pI2O9Zh/5BGPG035j1bO9netvtgyO6gTwtNFq1aJTYuE+YlXhSzQNBcqya6rUeQh47VfwqmEInlYg2XVd51YCS5jG2H1LQpetcVL9pvJ9TOZ308M/Vlmj98G6sRI+sgWCOGylOWBJgcQsi67uOnZ6MrN49PGB1vXPPANnEZcJNOh7Ofeg1pU1A/eiSN5SpFNvEDQB1j6ppIz/TA9/xGGQOMkFOjDk7VKHujHmBZ3vvcZec3VUQTXA+wSal4Bo7pAiAZyC5bjCE6Kirby7t1B83/X0Aew2njyO8Ag/c4Fa6nDAjujgEOyy8fLX/8+lH604nCffmhhhuvjp8AEKXeCXwg+cnNBo/NLoPNV14NbUuEbLCsaVRgwGtAFjJ8YhVynUlDcnlNwMBsIftCcKtG8R1WVvwbtspLkA6zc2BdJPmQqkqADjjlnTC6z2APweZt83JMGqGukySRYPUe3jnBBV8WrAaPNB1FNoVLFyGk0BYYtAVDRHTET8MeP+E0tGAiCxtywDll4PPefes2DdBvJN0OzR23Wf0ILvSJ3wAg17DwaDJcM3RZ4F+DdVjH/AbLE8RfzNEOGbRc24ilxjeYkyzvdh8L+qw3NHWCyMu/cfug4Ssg67btnWqqof/ieEA3EGBT8uqUENpcOlCMJ/IxDiZ/ITCkXkqlfW6dX3XFUDtZ25ER+JsJsLxKnUL9kJvYSNunBmqmUJaqJ25E4BtnqY3ID/C7rzX/ukdBGfAAAAAElFTkSuQmCC);
    background-color: #f5f5f5;
    text-align: left;
    width: 427px;
}

.loading {
    width: 32px;
    height: 32px;
    margin: 50px auto;
}

.twitterDate {
    margin: 10px;
    line-height: 12px;
    font-size: 10px;
    color: #969696;
}

.twitterDetailed {
    margin: 10px;
    line-height: 12px;
    font-size: 10px;
}

ul.links li {
    list-style-image: url(images/li.png);
    padding: 5px;
}

.plusTitle {
    padding-bottom: 10px;
    font-size: 20px;
}