body {
    font-family: arial, tahoma, sans-serif;
    text-align: center;
}

nav.menu {
    border-radius: 6px;
    padding: 1px;
}

nav.menu ul {
    border: 1px solid #787878;
    border-radius: 5px;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    display: table;
}

nav.menu ul li{
    display: inline-block;
    background: #d7d7d7;
}

nav.menu ul li:first-child,
nav.menu ul li:first-child > * {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav.menu ul li:last-child,
nav.menu ul li:last-child > * {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav.menu a {
    text-decoration: none;
    color: #323232;
    background: #d7d7d7;
}

nav.menu ul li:hover,
nav.menu ul li:hover a{
    background: #f5f5f5;
}

nav.menu a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0px 25px;
    text-shadow: 1px 1px 1px #F0E5E5;
    display: block !important;
}

nav.menu a.current {
    text-decoration: underline !important;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.seemore {
    text-align:right;
}
